<div>
    <aside class="right-side right-padding">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <!--section starts-->
            <h2>Blank</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="index-2.html">
                        <i class="fa fa-fw fa-home"></i> Dashboard
                    </a>
                </li>
                <li><a href="admin/packages">Packages</a></li>
            </ol>
        </section>
        <!--section ends-->
        <div class="content">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>Packages</h4>
                </div>
                <div class="panel-body">
                    <form action="packages" method="POST">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <input type="number" class="form-control" name="unique_code" value="unique_code" id="">

                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="packageName" value="{{packageName}}"
                                        name="packageName" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="number" class="form-control" placeholder="Period eg:- 3,6,12 month"
                                        name="period" value="{{period}}" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-file-upload">
                                    <input type="number" placeholder="Price" class="form-control" name="amount" value="{{amount}}"
                                        id="" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea name="description" value="{{description}}" id="" cols="10" rows="5" class="form-control"
                                        placeholder="Description" required></textarea>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg">submit</button>
                        <input type="reset" value="Reset" class="btn btn-danger btn-lg">
                </div>
                </form>
            </div>
        </div>
</div>

<hr>
<hr>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-9">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4>Packages Info</h4>
            </div>

            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Package Name</th>
                            <th>description</th>
                            <th>amount</th>
                            <th>period</th>
                            <th>action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each pack}}
                        <tr>
                            <td contenteditable="true">{{packageName}}</td>
                            <td contenteditable="true">{{description}}</td>
                            <td contenteditable="true">{{amount}}</td>
                            <td contenteditable="true">{{period}} months</td>
                            <td>
                                {{!-- <form action="edit/{{id}}?_method=PUT" method="post">
                                    <input type="hidden" name="_method" value="PUT">
                                    <button type="submit" value="EDIT" class="btn btn-success">EDIT</button>
                                </form> --}}
                                <form action="packages/{{id}}?_method=DELETE" method="POST">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button type="submit" class="btn btn-danger">DELETE</button>
                                </form>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <div id="delete_pack" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Are You Sure You Want to Delete</h4>
                        </div>
                        <div class="modal-body">
                            <form action="deletepackage" method="post">
                                <input type="submit" class="btn btn-danger" value="Delete">
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-"></div>

</div>
<!-- /.content -->
</aside>
<!-- /.right-side -->
</div>