{{#if user}}
<div class="se-pre-con"></div>
<!-- header logo: style can be found in header-->
<header class="header">
    <nav class="navbar navbar-static-top">
        <a href="dashboard" class="logo">
            <!-- Add the class icon to your logo image or logo icon to add the margining -->
            {{!-- <img src="../../public/img/logo.png" alt="image not found"> --}}
            <h2 style="color:aqua">Gym Mania</h2>
        </a>
        <!-- Header Navbar: style can be found in header-->
        <!-- Sidebar toggle button-->
        <!-- Sidebar toggle button-->
        <div>
            <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button"> <i class="fa fa-fw fa-navicon"></i>
            </a>
        </div>
        <div class="navbar-right">
            <ul class="nav navbar-nav">


                <!-- Notifications: style can be found in dropdown-->
                <li class="dropdown notifications-menu">

                    <ul class="dropdown-menu dropdown-messages">
                        <li class="dropdown-title"></li>
                        <li>
                            <a href="#" class="message icon-not striped-col">
                                <div class="message-body">
                                    {{#if success_msg}}
                                    <br> <strong>{{success_msg}}</strong>
                                    <br>
                                    <span class="noti-date">{{Date.now}}</span>
                                    {{/if}}
                                </div>
                            </a>
                        </li>

                    </ul>
                </li>
                <!-- User Account: style can be found in dropdown-->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle padding-user" data-toggle="dropdown">

                        <div class="riot">
                            <div>
                                {{user.name}}
                                <span>
                                    <i class="caret"></i>
                                </span>
                            </div>
                        </div>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">

                            <p>{{user.name}}</p>
                        </li>
                        <!-- Menu Body -->
                        <li role="presentation"></li>
                        {{!-- <li>
                            <a href="profile">
                                <i class="fa fa-fw fa-gear"></i> Account Settings
                            </a>
                        </li> --}}
                        <li role="presentation" class="divider"></li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-right">
                                <a href="logout">
                                    <i class="fa fa-fw fa-sign-out"></i> Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="wrapper row-offcanvas row-offcanvas-left">
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="left-side sidebar-offcanvas">
        <!-- sidebar: style can be found in sidebar-->
        <section class="sidebar">
            <div id="menu" role="navigation">
                <div class="nav_profile">
                    <div class="media profile-left">
                        <div class="content-profile">
                            <h1 class="media-heading" style="text-align:center;">Admin {{user.name}} </h1>

                        </div>
                    </div>
                </div>
                <ul class="navigation">
                    <li>
                        <a href="dashboard">
                            <i class="text-primary menu-icon fa fa-fw fa-dashboard"></i>
                            <span class="mm-text ">Dashboard</span>
                        </a>
                    </li>
                    <li class="active" id="active">
                        <a href="gymprofile">
                            <i class="text-success menu-icon fa fa-fw fa-info-circle"></i>
                            <span class="mm-text">Club Info</span>
                            <span class="arrow"></span>
                        </a>
                    </li>
                    <li>
                        <a href="packages">
                            <i class="text-primary menu-icon fa fa-th fa-info-circle"></i>
                            <span class="mm-text">Packages</span>
                        </a>
                    </li>
                    <li class="menu-dropdown">
                        <a href="#">
                            <i class="text-danger menu-icon fa fa-fw fa-calendar"></i>
                            <span class="mm-text">Events</span>
                            <span class="fa fa-angle-down pull-right"></span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="events">
                                    <i class="text-primary menu-icon fa fa-fw fa-list"></i> Events List
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-dropdown">
                        <a href="#">
                            <i class="text-warning menu-icon fa fa-fw fa-graduation-cap"></i>
                            <span class="mm-text">Course Schedule</span>
                            <span class="fa fa-angle-down pull-right"></span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="courses">
                                    <i class="text-success fa fa-fw fa-indent"></i> Courses
                                </a>
                            </li>
                            {{!-- <li>
                                <a href="schedule">
                                    <i class="text-success fa fa-fw fa-calendar"></i> schedule
                                </a>
                            </li>
                            <li>
                                <a href="admin_rooms.html">
                                    <i class="text-info fa fa-fw fa-star"></i> Rooms
                                </a>
                            </li> --}}
                            <li>
                                <a href="trainer">
                                    <i class="text-danger fa fa-fw fa-paw"></i> Trainers
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-dropdown">
                        <a href="#">
                            <i class="text-default menu-icon fa fa-fw fa-users"></i>
                            <span class="mm-text">Users</span>
                            <span class="fa fa-angle-down pull-right"></span>
                        </a>
                        <ul class="sub-menu">
                            {{!-- <li>
                                <a href="admin_userlist.html">
                                    <i class="text-primary fa fa-fw fa-users"></i> Users List
                                </a>
                            </li> --}}
                            <li>
                                <a href="adduser">
                                    <i class="text-info fa fa-fw fa-user"></i> Add Users
                                </a>
                            </li>
                            <li>
                                <a href="userpayment">
                                    <i class="text-danger fa fa-fw fa-money"></i> Payments
                                </a>
                            </li>
                        </ul>
                    </li>
                    {{!-- <li>
                        <a href="admin_coupon.html">
                            <i class="text-primary  menu-icon fa fa-scissors"></i>
                            <span class="mm-text">Coupons</span>
                        </a>
                    </li> --}}
                    <li class="menu-dropdown">
                        <a href="#">
                            <i class="text-success menu-icon fa fa-fw fa-picture-o"></i>
                            <span class="mm-text">Gallery</span>
                            <span class="fa fa-angle-down pull-right"></span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="addgallery">
                                    <i class="text-primary fa fa-fw fa-cloud-upload"></i> Add Gallery
                                </a>
                            </li>
                            <li>
                                <a href="gallery">
                                    <i class="text-success fa fa-fw fa-file-image-o"></i> Gallery
                                </a>
                            </li>
                        </ul>
                    </li>
                    {{!-- <li>
                        <a href="admin_timings.html">
                            <i class="text-info menu-icon fa fa-fw fa-clock-o"></i>
                            <span class="mm-text ">Class Calendar</span>
                        </a>
                    </li>


                    <li class="menu-dropdown">
                        <a href="#">
                            <i class="text-success menu-icon fa fa-fw fa-question-circle"></i>
                            <span class="mm-text">FAQ</span>
                            <span class="fa fa-angle-down pull-right"></span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="faq.html">
                                    <i class="text-primary fa fa-fw fa-question-circle"></i> FAQ
                                </a>
                            </li>
                            <li>
                                <a href="add_faq.html">
                                    <i class="text-success fa fa-fw fa-question"></i> Add Faq
                                </a>
                            </li>
                        </ul>
                    </li> --}}
                </ul>
                <!-- / .navigation -->
            </div>
            <!-- menu -->
        </section>
        <!-- /.sidebar -->
    </aside>
    {{/if}}